In [25]:
import pandas as pd

df = pd.read_csv("transactions (1).csv")
df['t_date'] = pd.to_datetime(df['t_date'])

In [4]:
#1 What is the total sales amount across all transactions?
total_sales = df['t_amt'].sum()
total_sales

np.float64(5110820.54)

In [20]:
#2 Which month had the highest total transaction amount?
df=df.groupby('t_date').sum().idxmax()
df

'05-15-2015'

In [27]:
#3What is the average transaction amount per customer?
avg_per_customer = df.groupby('cust_id')['t_amt'].mean()
avg_per_customer

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

In [28]:
#4 What is the trend of total sales over months?
df['month'] = df['t_date'].dt.month_name()

monthly_trend = df.groupby('month')['t_amt'].sum()

monthly_trend

month
April        420695.24
August       434255.01
December     421490.73
February     395262.37
January      438165.76
July         439560.80
June         421074.55
March        444664.24
May          432627.58
November     408846.35
October      424856.28
September    429321.63
Name: t_amt, dtype: float64

In [30]:
#5 What is the highest single transaction amount recorded?
highest_transaction = df['t_amt'].max()
highest_transaction

200.0

In [35]:
#6 Which service category contributes the most to total revenue?
services_revenue = df.groupby('services')['t_amt'].sum()
services_revenue.idxmax(), services_revenue.max()

('Outdoor Recreation', 846678.64)

In [36]:
#7 Which product generated the highest revenue?
product_revenue = df.groupby('products_used')['t_amt'].sum()
product_revenue.idxmax(), product_revenue.max()

('Yoga & Pilates', 47804.94)

In [39]:
#8 How does the average transaction amount vary between services?
avg_services_amt = df.groupby('services')['t_amt'].mean()
avg_services_amt

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64